<li id="<%= todo.id() %>" class="">
  <div class="view">
    <input class="toggle" value="completed" type="checkbox">
    <label><%= todo.title() %></label>
    <button class="destroy" data-id="<%= todo.id() %>"></button>
  </div>
  <input class="edit" data-id="<%= todo.id() %>" value="<%= todo.title() %>"
    />
</li>